@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/75819decdf364c4ea78af429aeaa615e.woff);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/4ca179675c0f4b5994010765e7633100.woff);
    font-style: normal;
    font-weight: normal;
}


